{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item{% if post.collection == 'publications' and teaser %} archive__item--publication{% endif %}" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser and post.collection != 'publications' %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    {% if post.collection == 'publications' and teaser %}
      <div class="archive__item-teaser archive__item-teaser--publication">
        <a class="image-popup publication-image-popup" href="{{ teaser | prepend: "/images/" | prepend: base_path }}" title="{{ post.title | escape }}"><img src="{{ teaser | prepend: "/images/" | prepend: base_path }}" alt="{{ post.title | escape }}"></a>
      </div>
      <div class="archive__item-content">
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.collection == 'publications' and post.author_role %}
      <p class="publication-role"><span><i class="fas fa-user" aria-hidden="true"></i> <strong>Author role:</strong> {{ post.author_role }}</span>{% if post.article_language %}<span><i class="fas fa-language" aria-hidden="true"></i> <strong>Language:</strong> {{ post.article_language }}</span>{% endif %}</p>
    {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt{% if post.collection == 'publications' %} publication-excerpt{% endif %}" itemprop="description">{% if post.collection == 'publications' %}<em>&quot;{{ post.excerpt | strip_html | strip_newlines | escape }}&quot;</em>{% else %}{{ post.excerpt | markdownify }}{% endif %}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}">{{ post.paperurl }}</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      {% if post.collection == 'publications' %}
        {% assign publication_url = post.url | absolute_url %}
        <div class="publication-actions">
          <span class="publication-download">Download <a href="{{ post.paperurl }}">here</a></span>
          <span class="publication-share" aria-label="Share {{ post.title | escape }}">
            <span class="publication-share__label">Share</span>
            <a class="publication-share__button publication-share__button--twitter" href="https://twitter.com/intent/tweet?text={{ post.title | append: ' ' | append: publication_url | url_encode }}" target="_blank" rel="noopener" title="Share on Twitter" aria-label="Share on Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a>
            <a class="publication-share__button publication-share__button--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ publication_url | url_encode }}" target="_blank" rel="noopener" title="Share on Facebook" aria-label="Share on Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
            <a class="publication-share__button publication-share__button--linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ publication_url | url_encode }}" target="_blank" rel="noopener" title="Share on LinkedIn" aria-label="Share on LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a>
            <button type="button" class="publication-share__button publication-share__button--wechat js-wechat-share" data-share-url="{{ publication_url }}" title="Share on WeChat" aria-label="Share on WeChat" aria-haspopup="dialog"><i class="fab fa-weixin" aria-hidden="true"></i></button>
          </span>
        </div>
      {% else %}
        <p>Download <a href="{{ post.paperurl }}">here</a></p>
      {% endif %}
    {% endif %}

    {% if post.collection == 'publications' and teaser %}
      </div>
    {% endif %}

  </article>
</div>

