{% include base_path %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <a href="https://twitter.com/intent/tweet?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Twitter"><i class="fab fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook"><i class="fab fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>

  <button type="button" class="btn btn--wechat js-wechat-share" title="Share on WeChat" aria-haspopup="dialog"><i class="fab fa-weixin" aria-hidden="true"></i><span> WeChat</span></button>
</section>

<div class="wechat-share-modal" data-wechat-modal hidden>
  <div class="wechat-share-modal__backdrop" data-wechat-close></div>
  <div class="wechat-share-modal__dialog" role="dialog" aria-modal="true" aria-labelledby="wechat-share-title">
    <button type="button" class="wechat-share-modal__close" data-wechat-close aria-label="Close WeChat sharing dialog"><i class="fas fa-times" aria-hidden="true"></i></button>
    <h2 id="wechat-share-title">Share on WeChat</h2>
    <p>Scan this QR code with WeChat to open this page.</p>
    <img class="wechat-share-modal__qr" data-wechat-qr alt="QR code for this page">
    <button type="button" class="btn wechat-share-modal__copy" data-wechat-copy><i class="fas fa-link" aria-hidden="true"></i><span> Copy link</span></button>
    <span class="wechat-share-modal__status" data-wechat-status role="status" aria-live="polite"></span>
  </div>
</div>
